@import styles/_variables

body
  background-color: $primary  

.App
  text-align: center
  background-color: $octonary

.App-logo
  height: 40vmin
  pointer-events: none

@media (prefers-reduced-motion: no-preference)
  .App-logo
    animation: App-logo-spin infinite 20s linear

.App-header
  background-color: #282c34
  min-height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white

.App-link
  color: #61dafb

@keyframes App-logo-spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)

header, footer
    text-align: center
    width: 100%
    clear: both
    padding: 2vw 0

    .navbar
       margin: auto
       font-weight: bold
       color: $primary 
    
       ul
           list-style: none
           display: inline-block
           padding: 0
           margin: 0

           li
               display: inline
               margin: 0 0.5vw
               
            
           :first-child
               margin-left: 0

       #copyright
           margin-left: 1vw
           display: inline-block
           margin-right: 3vw

header
  height: 100px
  padding: 0 3vw

  img#logo
    height: 90px
    float: left
    position: relative
    top: 5px
  
  nav.navbar
    line-height: 100px
    float: left

    li.nav-item
      margin-left: 5vw
      font-size: 20px

@media all and ( max-width: 960px )
    .navbar
        ul
            padding-left: 0

        #copyright
          display: block
          margin-top: 0

@media all and ( max-width: 720px )

    .navbar
        ul li a, #copyright
            font-size: 2.25vw

div.overlay
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    > div
        color: $primary

        &:nth-of-type(1)
            display: none
       
        &:nth-of-type(2)
            top: 50%
            max-width: 581px
            border-radius: 10px

            form
                h3
                  margin-bottom: 0

                .control-group
                  margin-top: 0.5vw
                  
                  input
                    width: 50%
                    border-radius: 5px
                    border-width: 1.5px

                button
                  background-color: $octonary
                  color: $primary
                  padding: 0.5vw
                  border-radius: 10px
                  margin-top: 1vw

#main
  clear: both

svg[class^='fa-w-'], svg[class*=' fa-w-'] //para todas las imágenes que contengan una clase que empiece por fa-w- (iconos de fontawesome)
  font-size: 25px
  margin: 0 0.5vw

.invisible
  visibility: hidden